table {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-collapse: collapse;
  background-color: var(--color-bg-slate-800);
}

th {
  text-align: left;
  padding: 1.2rem 2rem;
  font-weight: 600;
}

td {
  padding: 1.2rem 2rem;
  color: var(--color-bg-slate-400)
}