.table-container {
  position: relative;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-bg-slate-800);
  border: 0.1rem solid var(--color-bg-slate-700);
}

thead {
  background-color: var(--color-bg-slate-900);
}

tr {
  border-top: 0.1rem solid var(--color-bg-slate-700);
}

th {
  text-align: left;
  padding: 1.2rem 2rem;
  font-weight: 600;
}

td {
  padding: 1.2rem 2rem;
  color: var(--color-bg-slate-400)
}